@import url('https://fonts.googleapis.com/css?family=Numans');
html, body {
	height: 100%;
	width: 99.985%;
	font-family: 'Numans', sans-serif;
}
header {
	background-color: white;
}
.background-blue {
	background-color: darkblue;
}
h5 {
	font-weight: bold;
}
h6 {
	font-weight: bold;
}
.container-fluid {
	background-image: url('../img/laboratorio.jpg') !important;
	height: 99.985% !important;
}
.container {
	height: 100%;
	align-content: center;
}

.card {
	height: 320px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
	color: white;
}

.input-group-prepend span {
	width: 50px;
	background-color: darkblue;
	color: white;
	border: 0 !important;
}
input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	background-color: darkblue;
	width: 100px;
	color: white !important;
	font-weight: bold;
}


.links {
	color: white;
}

.links a {
	margin-left: 4px;
	color:yellow;
}